/* 

--- 01 TYPOGRAPHY SYSTEM 

 -FONTSIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Line Height :

default:1

- Font Weight :
DEFAULT :400


 --- 02 COLORS
 
- primary:#e67e22
- tints:
- shades:
- accents:
- greys:#333


--- 03 SHADOWS

--- 04 BORDER_RADIUS

--- 05 WHITESPACE 

--- 06 SPACING SYSTEM (px):
 / 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 

*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}

:root {
  --mainpagecolor: #e67e22;
  --mainpagecolorhover: #c45b00;
  --mainfont: sans-serif;
}

body {
  font-family: var(--mainfont);
  background-color: #424242;
  color: #555;
  line-height: 1;
  font-weight: 500;
}

nav {
  background-color: #e67e22;
  padding: 10px;
  max-width: 40rem;
  margin: 5rem auto;
  font-size: 3rem;
  text-align: center;
}
