*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* button,
* a {
  cursor: pointer;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
}
:root {
  --container-width: 130rem;
  --greylighter: #555;
  --greydarker: #333;
}

body {
  font-family: "rubik", sans-serif, sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #555;
}
header {
  width: 100%;
  height: 9.6rem;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4.8rem;
  padding: 0rem 5rem;
  background-color: #fdf2e9;
  .space {
    margin-left: auto;
  }
  a:link,
  a:visited {
    display: inline-block;
    list-style-type: none;
    font-size: 1.8rem;
    text-decoration: none;
    color: #555;
  }
  a:hover,
  a:active {
    color: #ff7700;
    transition: all 0.2s linear;
  }
  .btn-nav {
    display: inline-block;
    font-family: "rubik", sans-serif;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 9px;
    padding: 1.2rem 2.5rem;
    font-weight: 500;
    font-size: 1.8rem;
  }
  .btn-nav:hover {
    background-color: #cf711f;
    color: white;
    transition: all 0.2s linear;
  }
}

.omnifood-logo {
  height: 2.2rem;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 3rem 0;
}

.hero {
  grid-row: 2/3;
  max-width: var(--container-width);
  background-color: #fdf2e9;
  padding: 0rem 3.2rem;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.6rem;
}
.hero-img {
  width: 100%;
}
.text-hero {
  color: var(--greydarker);
  font-family: "rubik", sans-serif;
  h1 {
    font-size: 5.2rem;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
  }
  p {
    font-size: 1.9rem;
    line-height: 1.68;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-bottom: 4.8rem;
  }
  a {
    display: inline-block;
  }
  .btns {
    display: flex;
  }
  .primary-btn {
    margin-right: 1.6rem;
  }
  .btn:link,
  .btn:visited {
    display: inline-block;
    background-color: #e67e22;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 9px;
  }
  .btn:hover,
  .btn:active {
    background-color: #cf711f;
    transition: all 0.2s linear;
  }
  .secondary-btn:link,
  .secondary-btn:visited {
    background-color: white;
    color: #555;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .btn-ion {
      height: 2rem;
      fill: #555;
    }
  }
  .secondary-btn:hover,
  .secondary-btn:active {
    background-color: #f0f0f0;
  }

  .portfolio {
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1.6rem;
    font-family: "rubik", sans-serif;
    img {
      border-radius: 100%;
      height: 4.8rem;
      margin-right: -1.8rem;
      background-color: #fdf2e9;
      padding: 0.25rem;
    }
    img:last-child {
      margin-right: 0;
    }
    p {
      font-size: 1.7rem;
      color: #333;
      margin: 0;
      font-weight: 600;
      span {
        color: #e67e22;
        font-weight: 700;
        margin-right: 0rem;
      }
    }
  }
}
.logos {
  margin: 8rem auto 15rem auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 2.4rem;
}
.logos h1 {
  grid-column: 3/4;
  color: #999999cd;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 1px;
}
.logos a:link,
.logosa:visited {
  grid-row: 2/3;
  border-radius: 1rem;
  padding: 1rem;
}

.logos a img {
  max-height: 3.5rem;
  filter: brightness(0);
  opacity: 0.4;
}

.Z-pattern .header {
  h2 {
    font-size: 1.8rem;
    color: #e67e22;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2.4rem;
  }
  h1 {
    font-size: 4.2rem;
    color: #333;
  }
}

.Z-pattern {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 8rem;
  padding: 4rem;
}
.Z-pattern .header {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-bottom: 7rem;
}

.first-pattern {
  grid-column: 1/2;
  grid-row: 2/3;
}
.first-image {
  grid-column: 2/3;
  grid-row: 2/3;
  transform: rotate(7deg);
  justify-self: end;
}

.second-pattern {
  grid-column: 2/3;
  grid-row: 3/4;
}
.second-image {
  grid-column: 1/2;
  grid-row: 3/4;
  transform: rotate(-7deg);
  justify-self: start;
}

.third-pattern {
  grid-column: 1/2;
  grid-row: 4/5;
}
.third-image {
  grid-column: 2/3;
  grid-row: 4/5;
  transform: rotate(7deg);
  justify-self: end;
}

.step-text-box {
  align-self: center;
  .step-number {
    color: #7171712f;
    font-size: 9.8rem;
    font-weight: 700;
  }
  .step-header {
    font-size: 2.9rem;
    color: #222;
    margin: 1.6rem 0 4rem 0;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.7;
  }
  .step-text {
    font-size: 1.8rem;
    line-height: 1.8;
    color: #555;
    font-weight: 500;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.image img {
  width: 50%;
  z-index: 99;
}

.image::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  --area: 150%;
  width: var(--area);
  padding-bottom: var(--area);
  z-index: -1;
  translate: -50% -50%;
  background-image: url(../media/img//cd5230f9-ed3d-4fb3-85cc-b05394a0568f.png);
  background-position: center center;
  background-size: cover;
}

.first-image::after {
  transform: rotate(-10deg);
}
.second-image::after {
  transform: rotate(80deg);
}
.third-image::after {
  transform: rotate(120deg);
}

/*
 ---------------------- 
 ---MEALS--SECTION-----
 ----------------------
 */

.meals {
  margin: 8rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  column-gap: 5.7rem;
  max-width: 100rem;
  padding: 5rem 0;
}
.meals .meals-header {
  grid-column: 1/-1;
  margin-bottom: 9.6rem;
  h2 {
    color: #e67e22;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  h1 {
    color: #222;
    font-size: 3.8rem;
  }
}
.meals .first-card {
  grid-column: 1/2;
}
.meals .second-card {
  grid-column: 2/3;
}
.meals .diet-list {
  grid-column: 3/4;
}
.meals a {
  grid-column: 2/3;
  text-align: center;
}

.meals .card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 10px 40px 10px #9c9c9c3c;
  transition: all 0.2s linear;
  z-index: 99;
  cursor: pointer;
  img {
    width: 100%;
  }
  ul {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      list-style-type: none;
      display: flex;
      align-items: center;
    }

    li {
      h1 {
        font-size: 2rem;
        color: #222;
        font-weight: 600;
        margin-bottom: 2.2rem;
      }
    }
  }
}
.meals .card:hover {
  transform: translateY(-2rem);
}

.meals .card ul li ion-icon {
  color: #eea564;
  --svg-size: 2.5rem;
  width: var(--svg-size);
  height: var(--svg-size);
}
.meals .card span {
  color: #222;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 2rem;
  padding: 0.8rem 1rem;
  display: inline-block;
}
.meals .card .f-span {
  background-color: #94d82d;
  margin-right: 0.7rem;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
}
.meals .card .s-span {
  background-color: #ffd43b;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.4rem 0.8rem;
}

.meals .diet-list {
  h1 {
    font-size: 2.7rem;
    color: #222;
    margin-bottom: 3rem;
  }
}
.meals .diet-list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: capitalize;
  }
}
.meals .diet-list ul ion-icon {
  --check: 3rem;
  width: var(--check);
  height: var(--check);
  color: #eea564;
}
.meals .recipes:link,
.meals .recipes,
:visited {
  margin-top: 4.4rem;
  margin-left: 4rem;
  font-size: 1.9rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #cf711f;
  text-decoration: none;
  align-self: center;
  justify-self: center;
  text-transform: capitalize;
  ion-icon {
    fill: #cf711f;
    width: 34px;
    transition: all 0.2s linear;
  }
}
.meals .recipes:hover,
.meals .recipes:active {
  ion-icon {
    transform: translateX(0.7rem);
  }
}

.b-img {
  max-width: 250rem;
  margin: 10rem auto 10rem auto;
  position: relative;
  height: 120rem;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.689),
      rgba(0, 0, 0, 0.627),
      rgba(255, 255, 255, 0)
    ),
    url(../media/img/meals/pexels-narda-yescas-724842-1566837.jpg);
  background-size: cover;
  background-position: top center;
}
.b-img .texts {
  position: absolute;
  top: 30%;
  left: 2%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.b-img .texts h1 {
  font-size: 4.4rem;
  line-height: 1;
  text-transform: capitalize;
}
.b-img .texts p {
  font-size: 1.6rem;
  max-width: 90rem;
  line-height: 2;
  font-weight: 400;
}
.testimonial-section {
  margin: 7rem auto;
  display: grid;
  grid-template-columns: 60fr 40fr;
  background-color: #fdf2e9;
  padding: 0.3%;
  column-gap: 5rem;
}

.testimonial-section .testimonial {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem;
}
.testimonial-section .testimonial .figures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 5rem;

  figure {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    img {
      border-radius: 50%;
      width: 7rem;
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5;
      color: #222;
    }
    span {
      display: inline-block;
      font-weight: 600;
      font-size: 1.4rem;
      text-transform: capitalize;
    }
  }
}
.testimonial-section .testimonial .header {
  h2 {
    color: #e67e22;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  h1 {
    color: #222;
    font-size: 3.8rem;
  }
}
.testimonial-section .testimonial-gallery {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: stretch;
  justify-items: stretch;

  .image-2 {
    margin: 2%;
    overflow: hidden;
    border-radius: 7%;
    img {
      width: 100%;
      display: block;
      transition: all 0.2s linear;
      cursor: pointer;
    }
  }
  .image-2:hover {
    img {
      transform: scale(1.2);
    }
  }
}

.pricing-section {
  display: grid;
  max-width: 120rem;
  margin: 5rem auto;
  padding: 4rem 2.4rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
  grid-template-rows: auto 1fr auto auto;
  row-gap: 9.6rem;
}

.header-3,
.discription,
.main-sub-discription {
  grid-column: 1/-1;
}
.card-2 {
  overflow: hidden;
  max-width: 40rem;
  list-style: none;
  padding: 5rem;
  box-shadow: inset 0px 0px 0px 2px #fdf2e9;
  border-radius: 1rem;

  .card-sub-header {
    color: #e67e22;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3.6rem;
    font-weight: 600;
  }
  .price {
    display: block;
    color: #222;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    b {
      font-size: 6.2rem;
      font-weight: 650;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 5rem 0 3rem 0;
    list-style: none;
    li {
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      gap: 1.4rem;
      font-weight: 400;
      ion-icon {
        color: #e67e22;
        width: 30px;
        height: 30px;
      }
    }
  }

  p {
    text-align: center;
    font-size: 1.6rem;
    color: #555;
    font-weight: 400;
  }
}
.card-2 .btn-section {
  text-align: center;
  .btn {
    display: inline-block;
    font-family: "rubik", sans-serif;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 9px;
    padding: 1.8rem 3rem;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    border-radius: 1rem;
    text-decoration: none;
    transition: all 0.2s linear;
  }
  .btn:hover {
    background-color: #cf711f;
  }
}
.f-card-2 {
  grid-column: 1/2;
  justify-self: end;
}
.s-card-2 {
  grid-column: 2/3;
  justify-self: start;
  background-color: #fdf2e9;
  position: relative;
}
.s-card-2::after {
  content: "best value";
  position: absolute;
  top: 5rem;
  right: 5rem;

  background-color: #ffd43b;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #222;
  padding: 0.8rem 5rem;
  transform: rotate(45deg);
  translate: 50% -50%;
}

.pricing-section .header-3 {
  grid-column: 1/-1;
  h2 {
    color: #e67e22;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  h1 {
    color: #222;
    font-size: 4.4rem;
  }
}

.pricing-section .discription {
  text-align: center;
  margin-top: -5rem;
  font-size: 1.6rem;
  color: #555555ed;
  font-weight: 400;
}

.main-sub-discription {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 3rem;
  gap: 6rem;
}
.main-sub-discription li {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h1 {
    color: #222;
    font-size: 2.4rem;
  }
  p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2;
  }
  ion-icon {
    background-color: #fdf2e9;
    --ion-size: 30px;
    color: #e67e22;
    padding: 15px;
    border-radius: 50%;

    width: var(--ion-size);
    height: var(--ion-size);
  }
}

/* ---------------------- */
/* --FREE-TRIAL-SECTION-- */
/* ---------------------- */
.free-trial {
  margin: 10rem auto 50rem auto;
  background-image: linear-gradient(140deg, #ffa659, #e67e22);
  max-width: 100rem;
  display: grid;
  grid-template-columns: 60fr 30fr;
  grid-template-rows: 1fr;
  border-radius: 1.6rem;
  color: #2e1907;
  overflow: hidden;
}
.free-trial .image-2 {
  background-image: linear-gradient(#ffa6595f), url(../media/img/eating.jpg);
  background-size: cover;
  background-position: center center;
}
.form-section {
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.free-trial .form-section .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.4rem;
  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  a:link,
  a:visited {
    background-color: #45260a;
    color: #fdf2e9;
    border-radius: 1rem;
    align-self: end;
    justify-self: stretch;
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    font-weight: 700;
    padding: 1.2rem;
    font-size: 2rem;
    transition: all 0.2s linear;
  }
  a:hover,
  a:active {
    background-color: white;
    color: #222;
  }

  li span {
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 600;
  }
  li input,
  li select {
    background-color: #fdf2e9;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    color: #000000d3;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.2s linear;
  }
  li input:hover,
  li select:hover {
    background-color: #f5cba7;
  }
  li input:focus {
    box-shadow: 0 0 0 0.8rem #f5cba7;
    background-color: #fdf2e9;
  }
  li select:focus {
    box-shadow: 0 0 0 0.8rem #f5cba7;
    background-color: #fdf2e9;
    transition: all 0s linear;
  }
}

.free-trial .form-section .header-4 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  color: #2e1907e1;
  h1 {
    font-size: 3.6rem;
    font-weight: 750;
    line-height: 1.6;
    letter-spacing: 1px;
  }
  p {
    font-size: 1.6rem;
    line-height: 2;
  }
}
/* 
.pricing-section {
  max-width: 120rem;
  margin: 9.6rem auto;
  background-color: #55555544;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto auto;
}


.pricing-section .pricing {
  grid-column:;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.f-card {
  justify-self: end;
}
.s-card {
  justify-self: start;
}
.pricing-section .pricing .card {
  background-color: white;
  color: #222222e0;
  list-style-type: none;
}

.pricing-section .pricing .card {
  li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3) {
    text-align: center;
    background-color: pink;
  }
}
.pricing-section .pricing .card {
  li:nth-child(1) {
    font-size: 1.6rem;
    color: #e67e22;
    text-transform: uppercase;
  }
  li:nth-child(2) {
    font-size: 3.2rem;
    b {
      font-size: 6.2rem;
    }
  }
  li:nth-child(3) {
    color: #777;
    font-size: 1rem;
  }
  li:nth-child(4),
  li:nth-child(5),
  li:nth-child(6),
  li:nth-child(7) {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.4rem;
    color: #333333;
    font-weight: 400;
    ion-icon {
      color: #e67e22;
      width: 20px;
      height: 20px;
    }
  }
  li:nth-child(8) {
    text-align: center;
    .btn {
      display: inline-block;
      font-family: "rubik", sans-serif;
      background-color: #e67e22;
      color: white;
      border: none;
      border-radius: 9px;
      padding: 1.2rem 2.5rem;
      font-weight: 500;
      font-size: 1.2rem;
      margin-top: 1rem;
      text-decoration: none;
      text-transform: capitalize;
    }
    .btn:hover {
      background-color: #cf711f;
      color: white;
      transition: all 0.2s linear;
    }
  }
}
.pricing-section .discription {
  text-align: center;
} */
