/* you cant use rem or em in the queries , cause the 1rew = 1em = 16px , its size wont depend on the html font-size  */

/* Phones (portrait & small devices) */
@media (max-width: 37.5em) {
  html {
    font-size: 5px !important;
  }
  .omnifood-logo {
    height: 3rem;
  }
  /* .manual-navigation {
    display: flex;
  } */
  .hidden {
    display: inline-block !important;
  }
  .hero {
    grid-template-columns: repeat(1, 1fr);

    .text-hero {
      text-align: center;
      padding: 2.4rem 3rem;
    }
    .btns,
    .portfolio {
      justify-content: center;
    }
    .hero-img-box {
      width: 70%;
      justify-self: center;
    }
  }
  .logos {
    column-gap: 2rem;
  }
  .logos a img {
    height: 2rem;
  }
  header .hide {
    display: none !important;
  }
  .Z-pattern {
    column-gap: 0;
  }
  .Z-pattern .image {
    width: 60%;
  }
  .meals {
    column-gap: 3rem;
  }
  .meals .card {
    ul {
      padding: 2rem;
    }
  }
  .step-text-box {
    .step-number {
      font-size: 7rem;
    }
    .step-header {
      font-size: 2.3rem;
    }
  }
  .first-image {
    justify-self: end;
  }
  .second-image {
    justify-self: start;
  }
  .third-image {
    justify-self: end;
  }
  .meals {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto auto;
    row-gap: 2rem;
  }

  .meals .diet-list {
    grid-column: 1/-1;
    justify-self: center;
    margin-top: 3rem;
  }
  .testimonial-section {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .testimonial-section .testimonial-gallery {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .testimonial-section .testimonial .figures {
    column-gap: 10rem;
    row-gap: 8rem;
  }
  .main-sub-discription {
    grid-template-columns: repeat(2, 1fr);
  }
  .foot-916 {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 7rem;
    justify-items: center;
  }
  .json12,
  .json13,
  .json14 {
    grid-column: span 1;
    grid-row: 1/2;
    text-align: center;
  }
  .free-trial {
    grid-template-columns: 1fr;
    max-width: 70rem;
  }
}

/* Tablets (portrait) */
@media (min-width: 37.7rem) and (max-width: 48em) {
  .omnifood-logo {
    height: 2.8rem;
  }
  .hero {
    grid-template-columns: repeat(1, 1fr);
    .text-hero {
      text-align: center;
      padding: 2.4rem 8rem;
    }
    .btns,
    .portfolio {
      justify-content: center;
    }
    .hero-img-box {
      width: 60%;
      justify-self: center;
    }
  }
  .logos a img {
    height: 2.8rem;
  }
  .logos {
    column-gap: 2rem;
    row-gap: 1rem;
  }
  html {
    font-size: 47%;
  }
  .testimonial-section {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .testimonial-section .testimonial-gallery {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .testimonial-section .testimonial .figures {
    column-gap: 10rem;
    row-gap: 8rem;
  }
  .main-sub-discription {
    grid-template-columns: repeat(2, 1fr);
  }

  .free-trial {
    grid-template-columns: 7fr 5fr;
    max-width: 80rem;
  }
  .form-section {
    padding: 2rem 3rem;
  }
  .free-trial .form-section .form {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .new-controling {
    margin-top: 2rem;
  }
  .foot-916 {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 7rem;
    justify-items: center;
  }
  .json12,
  .json13,
  .json14 {
    grid-column: span 1;
    grid-row: 1/2;
    text-align: center;
  }

  .free-trial {
    grid-template-columns: 1fr;
    max-width: 70rem;
  }
}

/* Tablets (landscape) */
@media (min-width: 48.0625em) and (max-width: 64em) {
  html {
    font-size: 37%;
  }
}

/* Laptops (standard desktops) */
@media (min-width: 64.0625em) and (max-width: 85.375em) {
  html {
    font-size: 50%;
  }
}

/* Bigger Laptops (large desktops, 1080p screens) */
@media (min-width: 85.4375em) and (max-width: 90em) {
}
/* Monitors / Extra Large Screens (2K, 4K, ultrawide) */
@media (min-width: 90.0625em) {
}

/* custom media */
@media (max-width: 690px) {
  .pricing-section {
    grid-template-columns: 1fr;
    justify-content: center !important;
  }
  .f-card-2 {
    justify-self: center;
  }
  .s-card-2 {
    justify-self: center;
  }
}
@media (max-width: 68px) {
}

/* 

 -FONTSIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 06 SPACING SYSTEM (px):
 / 2 / 4 / 2 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128



process to hidding something in the web 


 1- opacity >>> 0 
 2 pointer-event >>> none
 3 visibility >>> hidden
*/
