*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* button,
* a {
  cursor: pointer;
}
html {
  font-size: 62.5%;
}

.Z--pattern {
  background-color: white;
  font-family: "rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 4rem;
  gap: 9.6rem;

  .left--to--right {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    img {
      grid-column: 1/2;
      width: 100%;
      grid-row: 1/-1;
    }
    .texts {
      padding: 2rem 4rem 0 0;
      grid-column: 2/3;
    }
  }

  .right--to--left {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    img {
      grid-column: 2/3;
      width: 100%;
      grid-row: 1/-1;
    }
    .texts {
      padding: 2rem 4rem 0 0;
      grid-column: 1/2;
    }
  }

  .arrange .texts {
    color: #444;
    font-family: "rubik", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    justify-self: center;
    align-self: start;
    gap: 2rem;
    h1 {
      font-size: 4.4rem;
      letter-spacing: -1px;
    }
    p {
      font-size: 1.8rem;
      line-height: 1.5;
      letter-spacing: 0.5px;
    }
    button {
      font-family: "rubik", sans-serif;
      background-color: #393939;
      color: white;
      padding: 1.2rem 3.2rem;
      font-size: 1.9rem;
      border-radius: 1rem;
      border: none;
      text-transform: capitalize;
      font-weight: 700;
      margin-top: 6rem;
    }
    button:hover {
      color: #393939;
      background-color: transparent;
      box-shadow: inset 0px 0px 0px 5px #393939, 0px 0px 10px #393939;
      transition: all 0.2s ease;
    }
  }
  .arrange {
    img {
      border-radius: 2rem;
    }
  }
}

.Z--pattern .header {
  font-family: "Cinzel", serif;
  font-size: 5rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 3rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
