*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}
* button,
* a {
  cursor: pointer;
}
html {
  font-size: 62.5%;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes ani {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 8rem;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;

  animation: ani 2s linear infinite;
  background-image: conic-gradient(
    from var(--angle),
    #ff00ae,
    #ff0066,
    #ff00ae,
    #00fbff,
    #ff00ae
  );
}
